# Android / Gradle
.gradle/
build/
app/build/
local.properties
.idea/
*.iml
*.iws
*.ipr
*.class
*.apk
*.dex
*.log

# Kotlin
.kotlin/

# macOS
.DS_Store

# Временные файлы
*.tmp
*.temp

# Ключи подписи (чтобы случайно не закоммитить keystore)
*.jks
*.keystore

# Дампы памяти и профилировщики Android Studio
*.hprof
captures/

# Если будете использовать Firebase
google-services.json